<div id="back-button">
  <button id="back-to-top">Top &uarr;</button>
</div>

<footer class="site-footer h-card">
  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        © Charlie Quebec Sierra {{  "now" | date: '%Y' }}
        {% if site.email -%}
          <p><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        {%- endif %}
        <h2><a href="https://www.instagram.com/charliequebecsierra/">
          <i class="bi bi-instagram"></i>
        </a></h2>
      </div>
    </div>
  </div>
</footer>

<script src="{{ my_page.url | relative_url }}/assets/scroll_to_top.js"></script>